# Importing Necessary Libraries

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

# Loading the Dataset

In [2]:
df = pd.read_csv("dataset.csv")
df

    Age      Height     Weight  Gender Likeness
0    53  153.278361  79.183453    Male   Samosa
1    56  199.333636  60.453554    Male   Samosa
2    40  176.137288  79.703309  Female   Samosa
3    64  168.847337  57.181763  Female  Biryani
4    47  176.453651  95.345925    Male   Samosa
..  ...         ...        ...     ...      ...
95   44  168.733839  95.814802    Male   Samosa
96   43  194.232635  82.472093    Male   Samosa
97   57  179.743062  96.668470  Female  Biryani
98   54  165.754246  50.620600  Female   Samosa
99   33  176.613389  65.198265  Female  Biryani

[100 rows x 5 columns]

In [3]:
df['Gender'] = df['Gender'].replace('Male',1)
df['Gender'] = df['Gender'].replace('Female',0)
df.head()

   Age      Height     Weight  Gender Likeness
0   53  153.278361  79.183453       1   Samosa
1   56  199.333636  60.453554       1   Samosa
2   40  176.137288  79.703309       0   Samosa
3   64  168.847337  57.181763       0  Biryani
4   47  176.453651  95.345925       1   Samosa

In [4]:
# selection of input and output variables
x= df[["Weight","Gender"]]
y=df['Likeness']

In [5]:
# machine learning algorithm
from sklearn.tree import DecisionTreeClassifier

# create and fit our model
model = DecisionTreeClassifier().fit(x,y)

# prediction
model.predict([[70,0]])

c:\Python 3.10\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Samosa'], dtype=object)

In [6]:
# how to measure the accuracy of our model
# split data into test and train
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2)


# create a model
model = DecisionTreeClassifier()
# Fitting the model
model.fit(X_train,y_train)
predicted_values= model.predict(X_test)
predicted_values

# checking score
score = accuracy_score(y_test,predicted_values) 
print("The accuracy score of the model is = ",score)

The accuracy score of the model is =  0.55

In [7]:
# how to train and save our model
import joblib
model = DecisionTreeClassifier().fit(x,y)
joblib.dump(model,"foodie.joblib")

['foodie.joblib']

In [8]:
# graph
from sklearn import tree
model = DecisionTreeClassifier().fit(x,y)
# graphic evaluation
tree.export_graphviz(model,out_file='foodie.dot',feature_names=['age','gender'],
                        class_names=sorted(y.unique()),
                        label='all',
                        rounded=True,
                        filled=True                
                        )