# Import Libraries

In [35]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score,f1_score,confusion_matrix,classification_report
from sklearn.neighbors import KNeighborsClassifier

# Load the Dataset

In [36]:
df = pd.read_csv("diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [37]:
# Print the shape of the dataset
print("The shape of the dataset = ",df.shape)

The shape of the dataset =  (768, 9)

# Replacing Zeros

In [38]:
zeros_not_accepted= ["Glucose","BloodPressure","SkinThickness","BMI","Insulin"]

In [39]:
for column in zeros_not_accepted:
    df[column]= df[column].replace(0,df[column].mean)

# Perform EDA

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    object
 2   BloodPressure             768 non-null    object
 3   SkinThickness             768 non-null    object
 4   Insulin                   768 non-null    object
 5   BMI                       768 non-null    object
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(1), int64(3), object(5)
memory usage: 54.1+ KB

In [41]:
df.describe()

       Pregnancies  DiabetesPedigreeFunction         Age     Outcome
count   768.000000                768.000000  768.000000  768.000000
mean      3.845052                  0.471876   33.240885    0.348958
std       3.369578                  0.331329   11.760232    0.476951
min       0.000000                  0.078000   21.000000    0.000000
25%       1.000000                  0.243750   24.000000    0.000000
50%       3.000000                  0.372500   29.000000    0.000000
75%       6.000000                  0.626250   41.000000    1.000000
max      17.000000                  2.420000   81.000000    1.000000

In [42]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [43]:
#  converting columns in  DataFrame (df) containing object or float64 data types to numeric values
for col in df.select_dtypes(include=['object', 'float64']).columns:
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int)

# Data Wrangling

In [44]:
# Split Dataset

X = df.drop("Outcome",axis=1)
y = df["Outcome"]

# Split Dataset into training and test sets
X_train,X_test,y_train,y_test =  train_test_split(X,y,random_state=0,test_size=0.2)

# Feature Scaling
scaler = StandardScaler()
X_train =  scaler.fit_transform(X_train)
X_test =  scaler.fit_transform(X_test)

In [52]:
model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train,y_train)

# Predicting the test set results
y_pred  = model.predict(X_test)

report = classification_report(y_test,y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.85      0.86      0.86       107
           1       0.67      0.66      0.67        47

    accuracy                           0.80       154
   macro avg       0.76      0.76      0.76       154
weighted avg       0.80      0.80      0.80       154